@model Twenty.Data.Domain.UserBet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserBet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Correct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Correct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Spread)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Spread)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Selection)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Selection.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Member.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bet.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Updated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Updated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
