<div class="col-2" id="leftSidebar" style="border-right: 1px solid #E0EDE3;">

  <div id="user-details" class="py-3">
    <img src="~/images/sammy.jpg" class="rounded-circle img-fluid mx-auto d-block" style="width: auto; height: auto; max-width: 120px; max-height: 120px;">
    @await Component.InvokeAsync("UserInfo")
  </div>

  <div id="followers" class="text-center">
    <div class="py-3 row">
      <div class="col">1000000 <br><small class="text-muted">Followers</small></div>
      <div class="col">105 <br><small class="text-muted">Following</small></div>
    </div>
  </div>

  <div class="pt-1">
    <ul  id="dash-menu" class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" asp-area="Members" asp-controller="Home" asp-action="Index" asp-route-id="@ViewBag.CurrentMemberId"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="Members" asp-controller="Home" asp-action="Feed" asp-route-id="@ViewBag.CurrentMemberId"><i class="far fa-newspaper"></i> Feed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="Members" asp-controller="Home" asp-action="Campaigns" asp-route-id="@ViewBag.CurrentMemberId"><i class="fas fa-heart"></i> Campaigns</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="Members" asp-controller="Home" asp-action="Events" asp-route-id="@ViewBag.CurrentMemberId"><i class="fas fa-calendar"></i> Events</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" asp-area="Members" asp-controller="Home" asp-action="Circles" asp-route-id="@ViewBag.CurrentMemberId"><i class="far fa-circle"></i> Circles</a>
      </li>
    </ul>
  </div>
</div>